.video-item{
   display: flex !important;
   align-items: center !important;
   margin: 10px 0 10px 0 !important;
   cursor: pointer;
}

.video-item .item img{
    max-width: 200px;
}
.item-descrption{
    color: hsl(0, 0%, 53.3%);
    padding-top: 8px;
    margin-bottom: 8px;
    display: block;
    line-height: 1.8rem;
    max-height: 3.6rem;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    word-wrap: break-word;
    width: 100%;
}